@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IDataResult<List<Signature>>

@if (Model == null)
{
    <h6>Henüz Pdf Yüklenmemiş.</h6>
}
else
{
    @foreach (var signature in Model.Data)
    {
        <a asp-area="" asp-controller="InternshipDocument" asp-action="ShowSign" asp-route-signatureId="@signature.Id">
            <button class="btn btn-primary">@signature.Name </button>
        </a>

    }
}

<form asp-controller="InternshipDocument" asp-action="UploadSignature" asp-route-documentId="9" method="post" enctype="multipart/form-data">


    <button type="submit" class="btn btn-primary">imza Ekle</button>
</form>