@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_StudentLayout";
}

@model InternshipsBook

<div id="placeHolderParent">
    <div id="modalPlaceHolder" aria-hidden="true"></div>
</div>


<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="text-center">
            <div class="row">
                <div class="col-6">
                    @if (Model.IsTeacherChecked)
                    {
                        <div class="alert alert-success">
                            Eğitmen Kontrolü Yapıldı!
                        </div>
                    }
                    else
                    {
                        <div class="alert alert-danger">
                            Henüz Eğitmen Kontrolü Yapılmadı!
                        </div>
                    }
                </div>
                <div class="col-6">
                    @if (Model.IsCompanyChecked)
                    {
                        <div class="alert alert-success">
                            Şirket Kontrolü Yapıldı!
                        </div>
                    }
                    else
                    {
                        <div class="alert alert-danger">
                            Henüz Şirket Kontrolü Yapılmadı!
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-lg-9">
            <div class="bg-light rounded h-100 p-4">
                <form asp-controller="InternshipsBook" asp-action="Page" method="post">
                    <input type="hidden" asp-for="Id" />
                    <input type="hidden" asp-for="StudentUserId" value="@User.Identity.Name" />
                    <div class="form-floating mb-3">
                        <div class="row g-4">
                            <div class="col-3">
                            </div>
                            <div class="col-lg-6 col-sm-12">
                                <div class="form-group text-center">
                                    <label for="dte">Tarih</label>
                                    <input type="date" class="form-control"
                                           id="dte" asp-for="Date" placeholder="Lütgen tarih giriniz!">
                                    <span class="text-danger" asp-validation-for="Date"></span>
                                </div>
                            </div>
                            <div class="col-3">
                            </div>
                        </div>
                    </div>
                    <div class="form-floating mb-3">
                        <div class="form-group text-center">
                            <textarea rows="25" class="ckStudent" asp-for="Content">
                            </textarea>
                            <span class="text-danger" asp-validation-for="Content"></span>
                        </div>
                    </div>
                    <div class="text-center m-3">
                        <button id="btnImageAdd" bookId="@Model.Id" type="button" class="btn btn-info">Resim Ekle</button>
                        <button type="submit" class="btn btn-success">Değişiklikleri Kaydet</button>
                    </div>
                </form>
                <div class="part m-1">
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-lg-3">
            @await Component.InvokeAsync("InternshipsBookPagesList")
        </div>
    </div>
</div>


@section Scripts{
    <script src="~/js/ckeditor/ckeditor.js"></script>
    <script src="~/StudentTemplate/js/StudentCK.js"></script>
    <script src="~/studenttemplate/js/sweetalertmanager.js"></script>
    <script>
        $(document).ready(function () {
            var placeHolderDiv = $('#modalPlaceHolder');

            refreshList();

            function refreshList() {
                var refreshListUrl = `/InternshipsBook/ImageList?bookId=${@Model.Id}`;
                $.get(refreshListUrl).done(function (data) {
                    var divPart = $('.part');
                    divPart.html(data);
                });
            }

            function closeModal() {
                placeHolderDiv.find('.modal').modal('hide');
            }

            $(document).on('click', '.close', function () {
                closeModal();
            });

            // Image show popup
            $(document).on('click', '.btnShowImage', function (event) {
                event.preventDefault();
                var imageId = $(this).attr('imageId');
                const imageUrl = `/InternshipsBook/ImageShowPopup?imageId=${imageId}`;
                $.get(imageUrl).done(function (data) {
                    placeHolderDiv.html(data);
                    placeHolderDiv.find('.modal').modal('show');
                });
                placeHolderDiv.off('click','#btnDelete').on('click', '#btnDelete', function (e) {
                    e.preventDefault();
                    $.ajax({
                        type: 'post',
                        url: `/InternshipsBook/DeleteImage?imageId=${imageId}`,
                        success: function (response) {
                            var result = JSON.parse(response);
                            closeModal();
                            if (result) {
                                successSwal("Başarıyla silindi!");
                            } else {
                                errorSwal("Hata!");
                            }
                            refreshList();
                        }
                    });
                });
            });


            // Image Add Popup

            $('#btnImageAdd').on('click', function (event) {
                event.preventDefault();
                var bookIdGet = $(this).attr('bookId');
                const url = `/InternshipsBook/AddImagePopup?bookId=${bookIdGet}`;
                debugger;
                $.get(url).done(function (data) {
                    placeHolderDiv.html(data);
                    placeHolderDiv.find('.modal').modal('show');
                });
                placeHolderDiv.off('click','#postImage').on('click', '#postImage', function (e) {
                    e.preventDefault();
                    const form = $('#imageForm');
                    const dataToSend = new FormData(form.get(0));
                    var postUrl = '/InternshipsBook/AddImagePopup';
                    $.ajax({
                        type: 'post',
                        data: dataToSend,
                        url: postUrl,
                        processData: false,
                        contentType: false,
                        success: function (func) {
                            closeModal();
                            var res = JSON.parse(func);
                            console.log(res);
                            if (res.Success) {
                                successSwal("Resim başarıyla eklendi!");
                            }
                            else {
                                console.log(res);
                                errorSwal(res.Message);
                            }
                            refreshList();
                        }
                    });
                });
            });
        });
    </script>
}

