@using System.Security.Claims;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>DASHMIN - Bootstrap Admin Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    @await Html.PartialAsync("AdminLinksPartial")
    @await RenderSectionAsync("Links", required: false)
</head>

<body>
    <div class="container-xxl bg-white d-flex p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->
        <!-- Sidebar Start -->
        @if (User.IsInRole("admin.company"))
        {
            @await Html.PartialAsync("CompanySidebarPartial")
        }
        else if(User.IsInRole("admin.teacher"))
        {
            @await Html.PartialAsync("TeacherSidebarPartial")
        }
        else
        {
            @await Html.PartialAsync("AdminSidebarPartial")
        }

        <!-- Sidebar End -->
        <!-- Content Start -->
        <div class="content">
            <!-- Navbar Start -->
            @await Html.PartialAsync("AdminNavbarPartial")
            <!-- Navbar End -->
            <div class="container">
                @RenderBody()
            </div>
            <!-- Footer Start -->
            <!-- Footer End -->
        </div>
        <!-- Content End -->
        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    @await Html.PartialAsync("AdminScriptsPartial")
    @await RenderSectionAsync("Scripts", required: false)
    @await Component.InvokeAsync("Notyf")
</body>

</html>