@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    //var studentUserId = Context.Request.RouteValues["studentId"];
}

@model InternshipsBook


<div id="placeHolderParent">
    <div id="modalPlaceHolder" aria-hidden="true"></div>
</div>s

<div class="container-fluid pt-4 px-4">
    <div class="row g-4 text-center">
        <div class="col-sm-12 col-lg-3">
            @await Component.InvokeAsync("InternshipsBookPages",new {studentId = ViewBag.studentId})
        </div>
        <div class="col-sm-12 col-lg-9">
            <div class="bg-light rounded h-100 p-4">
                @if (Model.Content != null)
                {
                    <div class="text-center">
                        @if (User.IsInRole("admin.teacher"))
                        {
                            @if (Model.IsTeacherChecked)
                            {
                                <div class="alert alert-success">
                                    Kontrol Edildi!
                                </div>
                            }
                            else
                            {
                                <div class="alert alert-danger">
                                    Henüz Eğitmen Kontrolü Yapılmadı!
                                </div>
                            }
                        }
                        else if (User.IsInRole("admin.company"))
                        {
                            @if (Model.IsCompanyChecked)
                            {
                                <div class="alert alert-success">
                                    Kontrol Edildi!
                                </div>
                            }
                            else
                            {
                                <div class="alert alert-danger">
                                    Henüz Şirket Kontrolü Yapılmadı!
                                </div>
                            }
                        }

                    </div>

                    <div class="form-floating mb-3">
                        <div class="form-group">
                            <label for="dte">Tarih</label>
                            <label for="dte">@Model.Date.ToShortDateString()</label>
                        </div>

                    </div>

                    <div class="form-floating mb-3">
                        <div class="form-group">
                            <label for="cont">@Html.Raw(Model.Content)</label>
                        </div>

                    </div>
                    <form asp-area="Admin" asp-controller="InternshipsBook" asp-action="CheckBook" method="post">
                        <input type="hidden" asp-for="Id" />
                        <input type="hidden" asp-for="IsTeacherChecked" />
                        <input type="hidden" asp-for="IsCompanyChecked" />

                        @if (User.IsInRole("admin.teacher"))
                        {
                            @if (!Model.IsTeacherChecked)
                            {
                                <button type="submit" class="btn btn-success">Kontrol Edildi Olarak İşaretle</button>
                            }
                            else
                            {
                                <button type="button" disabled class="btn btn-success">Kontrol Edildi Olarak İşaretle</button>
                            }
                        }
                        else if (User.IsInRole("admin.company"))
                        {
                            @if (!Model.IsCompanyChecked)
                            {
                                <button type="submit" class="btn btn-success">Kontrol Edildi Olarak İşaretle</button>
                            }
                            else
                            {
                                <button type="button" disabled class="btn btn-success">Kontrol Edildi Olarak İşaretle</button>
                            }
                        }


                    </form>
                    <div class="part m-1">
                    </div>
                }
                else
                {
                    <h1>Lütfen Sayfa Seçiniz</h1>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
            $(document).ready(function () {
                var placeHolderDiv = $('#modalPlaceHolder');

                refreshList();

                function refreshList() {
                    var refreshListUrl = `/InternshipsBook/ImageList?bookId=${@Model.Id}`;
                    $.get(refreshListUrl).done(function (data) {
                        var divPart = $('.part');
                        divPart.html(data);
                    });
                }

                function closeModal() {
                    placeHolderDiv.find('.modal').modal('hide');
                }

                $(document).on('click', '.close', function () {
                    closeModal();
                });

                // Image show popup
                $(document).on('click', '.btnShowImage', function (event) {
                    event.preventDefault();
                    var imageId = $(this).attr('imageId');
                    const imageUrl = `/Admin/InternshipsBook/ImageShowPopup?imageId=${imageId}`;
                    $.get(imageUrl).done(function (data) {
                        placeHolderDiv.html(data);
                        placeHolderDiv.find('.modal').modal('show');
                    });   
                });
            });
        
    </script>
}

