@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    //var studentUserId = Context.Request.RouteValues["studentId"];
}

@model InternshipsBook


<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-lg-3">
            @await Component.InvokeAsync("InternshipsBookPages",new {studentId = ViewBag.studentId})
        </div>
        <div class="col-sm-12 col-lg-9">
            <div class="bg-light rounded h-100 p-4">
                @if (Model != null)
                {
                    <div class="text-center">
                        @if (User.IsInRole("admin.teacher"))
                        {
                            @if (Model.IsTeacherChecked)
                            {
                                <div class="alert alert-success">
                                    Kontrol Edildi!
                                </div>
                            }
                            else
                            {
                                <div class="alert alert-danger">
                                    Henüz Eğitmen Kontrolü Yapılmadı!
                                </div>
                            }
                        } else if (User.IsInRole("admin.company"))
                        {
                            @if (Model.IsCompanyChecked)
                            {
                                <div class="alert alert-success">
                                    Kontrol Edildi!
                                </div>
                            }
                            else
                            {
                                <div class="alert alert-danger">
                                    Henüz Şirket Kontrolü Yapılmadı!
                                </div>
                            }
                        }

                    </div>

                    <div class="form-floating mb-3">
                        <div class="form-group">
                            <label for="dte">Tarih</label>
                            <label for="dte">@Model.Date.ToShortDateString()</label>
                        </div>

                    </div>

                    <div class="form-floating mb-3">
                        <div class="form-group">
                            <label for="cont">İçerik</label>
                            <label for="cont">@Html.Raw(Model.Content)</label>
                        </div>

                    </div>
                    <form asp-area="Admin" asp-controller="InternshipsBook" asp-action="CheckBook" method="post">
                        <input type="hidden" asp-for="Id" />
                        <input type="hidden" asp-for="IsTeacherChecked" />
                        <input type="hidden" asp-for="IsCompanyChecked" />

                        @if (User.IsInRole("admin.teacher"))
                        {
                            @if (!Model.IsTeacherChecked)
                            {
                                <button type="submit" class="btn btn-success">Kontrol Edildi Olarak İşaretle</button>
                            }
                            else
                            {
                                <button type="button" disabled class="btn btn-success">Kontrol Edildi Olarak İşaretle</button>
                            }
                        }
                        else if (User.IsInRole("admin.company"))
                        {
                            @if (!Model.IsCompanyChecked)
                            {
                                <button type="submit" class="btn btn-success">Kontrol Edildi Olarak İşaretle</button>
                            }
                            else
                            {
                                <button type="button" disabled class="btn btn-success">Kontrol Edildi Olarak İşaretle</button>
                            }
                        }

                       
                    </form>
                }
                else
                {
                    <h1>Lütfen Sayfa Seçiniz</h1>
                }
            </div>
        </div>
    </div>
</div>

