@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<Message>

<div class="nav-item dropdown">
    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
        
        <i class="fa fa-envelope me-lg-2 position-relative">
            @if (ViewBag.UnreadMessage > 99)
            {
                <span class="position-absolute top-100 start-100 translate-middle badge rounded-pill bg-danger">
                    99+
                    <span class="visually-hidden">unread messages</span>
                </span>
            }
            else
            {
                <span class="position-absolute top-100 start-100 translate-middle badge rounded-pill bg-danger">
                    @ViewBag.UnreadMessage
                    <span class="visually-hidden">unread messages</span>
                </span>
            }
        </i>
        <span class="d-none d-lg-inline-flex">Gelen Kutusu</span>
    </a>
    <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
        @foreach (var message in Model)
        {
            <a asp-area="Admin" asp-controller="Message" asp-action="Inbox" class="dropdown-item">
                <div class="d-flex align-items-center">
                    <div class="ms-2">
                        <h6 class="fw-normal mb-0">@message.Subject</h6>
                        <small>@message.CreatedDate</small>
                    </div>
                </div>
            </a>
            <hr class="dropdown-divider">
        }
        <a asp-area="Admin" asp-controller="Message" asp-action="Inbox" class="dropdown-item text-center">Tüm Mesajları Gör</a>
    </div>
</div>
