@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>DASHMIN - Bootstrap Admin Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    @await Html.PartialAsync("StudentLinksPartial")
</head>
<body>
    <div class="container-fluid pt-4 px-4">
        <div class="row vh-100 bg-light rounded align-items-center justify-content-center mx-0">
            <div class="col-md-6 text-center p-4">
                <i class="bi bi-exclamation-triangle display-1 text-primary"></i>
                <h1 class="display-1 fw-bold">404</h1>
                <h1 class="mb-4">Oops... Kayıp mı Oldunuz?</h1>
                <p class="mb-4">
                    Verilen url'i kontrol edip lütfen tekrar deneyiniz. Eğer kayıp olduysanız aşağıdaki linkten geri dönebilirsiniz!
                </p>
                @if (User.IsInRole("student"))
                {
                    <a asp-area="" asp-controller="Message" asp-action="Inbox" class="btn btn-primary rounded-pill py-3 px-5">Eve Git</a>
                }
                else
                {
                    <a asp-area="Admin" asp-controller="Message" asp-action="Inbox" class="btn btn-primary rounded-pill py-3 px-5">Eve Git</a>
                }
            </div>
        </div>
    </div>
    @await Html.PartialAsync("StudentScriptsPartial")
</body>

</html>
