@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}

@model StudentUserForRegisterDto
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <style>
        .divider:after,
        .divider:before {
            content: "";
            flex: 1;
            height: 1px;
            background: #eee;
        }
    </style>
    <title>Register</title>
</head>
<body>
    <section class="vh-100">
        <div class="container py-5 h-100">
            <div class="row d-flex align-items-center justify-content-center h-100">
                <div class="col-md-8 col-lg-7 col-xl-6">
                    <img src="https://s3.cloud.ngn.com.tr/clu2-static/loginlogo/AFDE5117E6107E1FF15BFE5C10A497B7.png?AWSAccessKeyId=ALMS%3aalms-storage%40advancity.com.tr&Expires=4810888280&Signature=OMsIM0vVqG%2brWhDpw4GsUA6tuE4%3d"
                         class="img-fluid" alt="Phone image">
                </div>
                <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
                    <form asp-area="" asp-controller="Auth" asp-action="Register" method="post">
                        <!-- Email input -->
                        <div class="form-outline mb-4">
                            <div class="divider d-flex align-items-center my-4"><h1>Kayıt Ol</h1></div>
                            <input type="text" asp-for="FirstName" id="fName" class="form-control form-control-lg" placeholder="Adınız" />
                            <span class="text-danger" asp-validation-for="FirstName"></span>
                        </div>

                        <div class="form-outline mb-4">
                            <input type="text" id="lName" asp-for="LastName" class="form-control form-control-lg" placeholder="Soyad" />
                            <span class="text-danger" asp-validation-for="LastName"></span>
                        </div>

                        <div class="form-outline mb-4">
                            <input type="email" id="eMail" asp-for="Email" class="form-control form-control-lg" placeholder="E-Mail" />
                            <span class="text-danger" asp-validation-for="Email"></span>
                        </div>

                        <div class="form-outline mb-4">
                            <input type="text" id="uName" asp-for="Username" class="form-control form-control-lg" placeholder="Kullanıcı Adı" />
                            <span class="text-danger" asp-validation-for="Username"></span>
                        </div>

                        <!-- Password input -->
                        <div class="form-outline mb-4">
                            <input type="password" id="psw" asp-for="Password" class="form-control form-control-lg" placeholder="Şifreniz" />
                            <span class="text-danger" asp-validation-for="Password"></span>
                        </div>

                        <div asp-validation-summary="ModelOnly" class="text-primary"></div>
                        <!-- Submit button -->
                        <button type="submit" class="btn btn-primary btn-lg btn-block">
                            Kayit Ol
                        </button>

                        <div class="divider d-flex align-items-center my-4">
                            <p class="text-center fw-bold mx-3 mb-0 text-muted">
                                Zaten bir hesabınız var mi?
                            </p>
                        </div>
                        <a asp-area="" asp-controller="Auth" asp-action="Login" class="btn btn-success btn-lg btn-block">Giris Yap</a>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>


