@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model List<AdminStudentRelation>
<div class="p-3">
    <table id="studentList" style="width:100%;">
        <thead>
            <tr>
                <th>Ad Soyad</th>
                <th>Staj Evrakları</th>
                <th>Staj Defteri</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count > 0)
            {
                foreach (var student in Model)
                {
                    <tr>
                        <td>
                            @student.StudentUser.FirstName @student.StudentUser.LastName
                        </td>
                        <td>Bos</td>
                        <td>
                            <a asp-area="Admin" asp-controller="InternshipsBook" asp-action="BookPage" asp-route-studentId="@student.StudentUser.Id" asp-route-bookId="0">Öğrencinin Defterine Git</a>
                        </td>
                    </tr>
                }
            }
            else
            {
                <h1>Henuz Kullanici Kayitli Degil</h1>
            }

        </tbody>
    </table>
</div>



@section Scripts{
<script>
        $(document).ready(function () {
            $('#studentList').DataTable();
        });
</script>
}