@{
}
<nav class="navbar navbar-expand bg-warning navbar-light sticky-top px-4 py-0">
    <div class="container-lg">
        <div class="navbar-nav align-items-center ms-auto me-auto">
            <div class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="InternshipDocument" asp-action="Index" class="m-3">
                    <i class="fa fa-file me-lg-2"></i>
                    <span class="d-none d-lg-inline-flex">Staj Belgeleri Sayfası</span>
                </a>
            </div>
            <div class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="InternshipsBook" asp-action="Index" class="m-3">
                    <i class="fa fa-book me-lg-2"></i>
                    <span class="d-none d-lg-inline-flex">Staj Defteri Sayfası</span>
                </a>
            </div>
            <div class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Message" asp-action="Sendbox" class="m-3">
                    <i class="fa fa-envelope me-lg-2"></i>
                    <span class="d-none d-lg-inline-flex">Gönderilen Bildirimler</span>
                </a>
            </div>
            @await Component.InvokeAsync("NotificationInbox")
            @await Component.InvokeAsync("StudentUserMenu")
        </div>
    </div>
</nav>