@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<BookImage>

<div class="text-center">
    <h2>Resimler</h2>
    @if (Model != null)
    {
        @foreach (var image in Model)
        {
            <button type="button" imageId="@image.Id" class="btn btn-info btnShowImage m-1">@image.ImageName</button>
        }
    }
    else
    {
        <label>Henüz resim eklenmemiş!</label>
    }
</div>