@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_StudentLayout";
}
@model InternshipDocument

<div>
    @*<form asp-controller="InternshipDocument" asp-action="ShowPdf" method="get" enctype="multipart/form-data">

       

    </form>*@
    <div class="form-group">
        <br />
        <label>Yüklenilen Dosyalar</label>

    </div>
    <br />
    <a asp-area="" asp-controller="InternshipDocument" asp-action="ShowPdf" asp-route-documentId="@Model.Id">
        <button class="btn btn-primary">@Model.CreatedDate.ToShortDateString() </button>
    </a>
    <form asp-controller="InternshipDocument" asp-action="UploadPdf" method="post" enctype="multipart/form-data">

    <div class="form-group">
        <br/>
        <label>Dosya Yükleyiniz</label>
        <br/>
        <input type="file" name="pdfFile" class="form-control-file" />
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Dosya Ekle</button>
</form>


    <h1>İmza Oluşturma</h1>
    <canvas style="flood-color" id="signatureCanvas" width="400" height="200"></canvas>
    <br>
    <button id="clearButton">Temizle</button>
    <button id="saveButton">İmzayı Kaydet</button>


</div>

@section Scripts{
    <script src="~/StudentTemplate/js/signatureCanvas.js"> </script>
    }